.checkout .container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.checkout .container > * {
  flex: 1 1 45%;
  margin: 5px;
}

.checkout .actions {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
}