.checkout-form fieldset {
  border-radius: 5px;
  border-color: lightgray;
  color: brown;
  border-width: 0.1em;
}

.checkout-form label {
  color: #222;
}

.checkout-form input.invalid {
  background-color: lightcoral;
  border-color: brown;
  border: 1px solid brown;
}

.checkout-form .first-and-second-name {
  display: flex;
  justify-content: space-between;
}

.checkout-form .first-and-second-name > div {
  width: 49%;
}

.checkout-form .first-and-second-name input {
  width: 100%;
}

.checkout-form input[name="document"] {
  width: 100%;
}

.checkout-form label:not(.payment-info label) {
  display: block;
}

.checkout-form label:not(.payment-options label) {
  font-size: 0.8em;
}

.checkout-form input[name="address"] {
  width: 100%;
}

.checkout-form .payment-options {
  white-space: nowrap;
}

.checkout-form input:checked  {
  filter: sepia(100%) contrast(200%) hue-rotate(310deg) brightness(1.1) drop-shadow(0px 0px 1px);
}

.checkout-form input:focus {
  border: 2px solid rgb(141, 70, 70);
  outline: 2px solid rgb(223, 209, 209);
  outline-offset: 1px;
  border-radius: 2px;
}

.checkout-form input[name="credit-card-number"], input[name="card-owner"] {
  width: 100%;
}

.checkout-form .payment-info .credit-card-info label:not(label[for="same-name"], label[for="card-owner"]) {
  display: block;
}

.checkout-form .payment-info .credit-card-info .credit-card-owner-container {
  display: flex;
  justify-content: space-between;
}

.checkout-form .payment-info .credit-card-info .credit-card-owner-container > * {
  margin-top: auto;
}

.checkout-form .payment-info .credit-card-info .credit-card-owner-container > div > input {
  margin: 0 3px;
}

.checkout-form .payment-info .credit-card-info label.same-name {
  font-size: 12px;
}

.checkout-form .payment-info .secret-and-expiration {
  display: flex;
  justify-content: space-between;
}

.checkout-form .secret-and-expiration > div {
  width: 49%;
}

.checkout-form .secret-and-expiration input {
  width: 100%;
}

.checkout-form div.invalid-message {
  color: red;
  font-size: 12px;
}