.checkout .container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.checkout .container > * {
  flex: 1 1 45%;
  margin: 5px;
}

.checkout .actions {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
}

.order-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.order-complete button{
  margin-top: 20px;
}