.button {
  background-color: brown;
  border-radius: 20px;
  color: #fff;
  border: none;
  padding: 5px;
  margin-top: 5px;
  width: 75%;
  cursor: pointer;
  display: block;
  margin-left: auto;
  font-weight: bold;
}

.button:active {
  filter: brightness(1.5);
}
