.cartButton {
  background-color: darkred;
  border: none;
  color: white;
  transition: all 0.2s;
  margin: 15px 0;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.cartButton:active {
  filter: brightness(1.5);
}

.cartButtonEffect {
  transform: scale(1.1);
}

.cart-label {
  margin: 0 10px;
  font-weight: bold;
}

.items-quantity {
  background-color: brown;
  padding: 5px;
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  width: 35px;
}
